@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.mobileOnly{
    display: none;
}

body{
    display: grid;
    
    grid-template: 70px 1fr / 200px 1fr;
    grid-template-areas: 
        "logo navbar"
        "sidebar main";
    
    height: 100vh;
    background-color: whitesmoke;

    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.logo{
    grid-area: logo;
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 200px;
    height: 70px;
}

.sectionTitle{
    color: gray;
    font-size: 0.7em;

    margin: 5px;
}

a{
    color: white;
}

a:hover{
    color: grey;
}

/* ================== NAVBAR ================== */

nav{
    grid-area: navbar;
    background-color: white;
    border-bottom: 1px solid rgb(229, 228, 228);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;
}

.rightItems{
    display: flex;
}

.hello{
    font-size: 0.8em;
}

.hello > h2{
    font-weight: normal;
}


/* ================== MAIN ================== */

main{
    grid-area: main;

    display: grid;
    grid-template: repeat(4, max-content) / minmax(0, 2fr) minmax(0, 1fr);
    grid-template-areas: 
        "balance balance"
        "quickActions quickActions"
        "chart card"
        "recent .";
    
    padding: 20px;
    gap: 25px;
}

/* component */
.c{
    min-width: none;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid rgb(229, 228, 228);
}

.balance{
    grid-area: balance;

    display: grid;

    grid-template: repeat(3, max-content) /1fr;
    grid-template-areas:
        "title"
        "value"
        "details";

    background-color: #111111;
    color: white;
}

.l1{
    grid-area: title;
    
    display: flex;
    justify-content: space-between;

    font-size: 0.8em;
}

.l1 > h2{
    font-weight: normal;
}

#visButton{
    background-color: #111111;
    border: 1px solid #434343;
    height: 30px;
    width: 30px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.l2{
    grid-area: value;
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 3em;
}

.l3{
    grid-area: details;

    display: flex;
    justify-content: space-between;

    font-size: 0.8em;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 85px;
}

.quickActions{
    grid-area: quickActions;
}

.qa{
    flex:1;
}

.qa:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.225);
}

.actionsContainer{
    display:grid;

    grid-template: 50px / repeat(6, 1fr);
    gap: 10px;
}

.balanceChart{
    grid-area: chart;
}

.card{
    grid-area: card;
}

.recentTransactions{
    grid-area: recent;
}

/* ================== SIDEBAR ==================== */

aside{
    grid-area: sidebar;
    background-color: #111111;
    color: grey;
    padding: 15px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    position: fixed;
    height: calc(100vh - 70px);
    align-self: flex-end;
    width: 200px;
}

.sidebarOption{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 12px;
    margin: 5px;

    border-radius: 5px;

    font-size: 0.8em;

    gap: 5px;
}

.sidebarOption:hover{
    background-color: rgb(21, 21, 21);
    color: white;
}

.activeSBOption{
    background-color: greenyellow;
    color: #111111;
}

.userAccount{
    padding: 12px;
    margin: 5px;

    border-radius: 5px;
}

/* ==================== MEDIA QUERIES ==================== */

@media (max-width: 825px){
    .actionsContainer{
        display: grid;

        grid-template: 50px 50px / repeat(3, 1fr);
        gap: 10px;
    }

    body{
        display: grid;
        
        grid-template: 70px 1fr / 170px 1fr;
        grid-template-areas: 
            "logo navbar"
            "sidebar main";
        
        height: 100vh;
        background-color: whitesmoke;

        font-family: Arial, Helvetica, sans-serif;
    }

    main{
        grid-area: main;

        display: grid;
        grid-template: repeat(5, max-content) / 1fr;
        grid-template-areas: 
            "balance"
            "quickActions"
            "chart"
            "recent"
            "card";
        
        padding: 20px;
        gap: 25px;
    }

    aside{
        width: 170px;
    }

    .logo{
        width: 170px;
    }
}

@media (max-width: 568px){
    .mobileOnly{
        display: block;
    }

    .mobileCollapse{
        display: none;
    }

    body{
        display: grid;
        
        grid-template: 50px 1fr / 1fr;
        grid-template-areas: 
            "navbar"
            "main";
        
        height: 100vh;
        background-color: whitesmoke;

        font-family: Arial, Helvetica, sans-serif;
    }

    nav{
        background-color: #111111;
        color: white;
    }

    .mobNavbar{
        position: fixed;
        height: 50px;
        width: 100%;
        align-self: flex-end;

        background-color: #111111;
        color: white;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mnbButton{
        display: flex;
        flex-flow: column nowrap;

        justify-content: center;
        text-align: center;
        font-size: 0.4em;
    }

    .balance{
        border: none;
        border-radius: 0px 0px 12px 12px;
    }

    .quickActions, .balanceChart, .recentTransactions, .card{
        margin: 0 20px;
    }

    main{
        grid-area: main;

        display: grid;
        grid-template: repeat(5, max-content) / 1fr;
        grid-template-areas: 
            "balance"
            "quickActions"
            "chart"
            "recent"
            "card";

        padding: 0px;
    }

    .container{
        max-width: 1000px;
        width: 100%;
        margin: 0;
    }
}